<h1>O Czechitas</h1>

<p>Prvotní myšlenkou při zakládání Czechitas v roce 2014 bylo vzdělávat ženy, aby získaly práci v IT.</p>

<p>Dnes se snažíme nadchnout do technologií i děti a mládež a ukázat jim, že i oni se můžou stát tvůrci, kteří pomocí technologií budou měnit svět. Informační technologie jim představujeme hravou formou, při které si procvičí logické myšlení.</p>

<p>Zájem o technologie a chuť neustále se učit budou v budoucnosti klíčové dovednosti na trhu práce. Jsme tady pro ty, co chtějí získat práci v IT, ale i pro IT nepolíbené, kteří si jen chtějí rozšířit obzory a mít přehled, co se pod IT zkratkou vlastně ukrývá.</p>